IMPORTING PYTHON LIBRARIES

In [11]:
# Let's import the pandas library

import pandas as pd

# Let's also import the Numpy library
import numpy as np

LOADING DATASETS

In [56]:
# LOADING TELECOM DATASET 1

#Telecom dataset 1

df1 = pd.read_csv('Telcom_dataset.csv')

df1.head(5)

,PRODUTC,VALUE,DATETIME,CELL_ON_SITE,DW_A_NUMBER_INT,DW_B_NUMBER_INT,COUNTRY_A,COUNTRY_B,CELL_ID,SITE_ID
0,Voice,0,2012-05-06 23:04:37.0,1,49fae048b547780,1a49f8b0ded9de6,19e2e,19e2e,/TJNe+Mmtu,/TJNe+Mmtu
1,sms,0,2012-05-06 23:05:25.0,0,7a54a6eaee19e65,93343ba6e41af95,19e2e,19e2e,/+cKZKIp41,/+cKZKIp41
2,sms,25,2012-05-06 23:05:41.0,0,6008887b0207d82,7aacc9709ce0a20,19e2e,19e2e,/u0FSD+ahi,/u0FSD+ahi
3,Voice,56,2012-05-06 23:05:42.0,1,7370032e20f4e96,6af4a60e74c91d3,19e2e,19e2e,+cNeJzsTp3,+cNeJzsTp3
4,Voice,14,2012-05-06 23:06:29.0,1,966ba4656e38e62,02aa736ee555d5c,19e2e,19e2e,051KhYDCpv,051KhYDCpv

In [57]:
# LOADING TELECOM DATASET 2

#Telecom dataset 2

df2 = pd.read_csv('Telcom_dataset2.csv')

df2.head(5)

,PRODUCT,VALUE,DATE_TIME,CELL_ON_SITE,DW_A_NUMBER,DW_B_NUMBER,COUNTRY_A,COUNTRY_B,CELL_ID,SITE_ID
0,sms,0,2012-05-07 23:02:06.0,2,32255675c3b6fe3,1aa7ae01386e9fb,19e2e,19e2e,+854AcBQT2,+854AcBQT2
1,Voice,0,2012-05-07 23:03:44.0,1,ff16d6ac74c1c64,87d87309c15a8c9,19e2e,19e2e,+854AcBQT2,+854AcBQT2
2,sms,0,2012-05-07 23:04:06.0,0,98d9f2fb5ff624b,93343ba6e41af95,19e2e,19e2e,+laSrk7g6q,+laSrk7g6q
3,Voice,37,2012-05-07 23:04:48.0,1,3f9c8a33ec7be1f,7d05a38f89c49d8,19e2e,19e2e,/xvRrCVKoQ,/xvRrCVKoQ
4,sms,25,2012-05-07 23:04:58.0,1,7bcccc03adf3864,56a5d5430d2fa86,19e2e,19e2e,+bO+qkSonO,+bO+qkSonO

In [58]:
# LOADING TELECOM DATASET 3

#Telecom dataset 3

df3 = pd.read_csv('Telcom_dataset3.csv')

df3.head(5)

,PRODUCT,VALUE,DATE_TIME,CELL_ON_SITE,DW_A_NUMBER_INT,DW_B_NUMBER_INT,COUNTRY_A,COUNTRY_B,CELLID,SIET_ID
0,Voice,61,2012-05-08 23:01:28.0,2,966f68353622feb,ffd53a3bb2db6f1,19e2e,19e2e,+38u2u/rfx,+38u2u/rfx
1,sms,0,2012-05-08 23:01:31.0,1,a0a597384c612d7,cf3b218f1dde792,19e2e,19e2e,+Fs4mTvdKx,+Fs4mTvdKx
2,Voice,10,2012-05-08 23:02:59.0,1,5441a9a58c97132,52f8b299515b9b7,19e2e,19e2e,+ZaaZozy/+,+ZaaZozy/+
3,sms,0,2012-05-08 23:03:04.0,0,8ab8b9ed6989f61,e09e736e46c5c3d,19e2e,19e2e,+cNeJzsTp3,+cNeJzsTp3
4,Voice,22,2012-05-08 23:03:16.0,4,52662a62b199334,2186273faab4602,19e2e,19e2e,/eeMklgyJA,/eeMklgyJA

LOADING OF CELLS_GEO DATASET

In [59]:
# Loading our cells_geo

df5 = pd.read_csv('cells_geo.csv' ,index_col=0 , delimiter = ';')

df5.head(5)

,VILLES,STATUS,LOCALISATION,DECOUPZONE,ZONENAME,LONGITUDE,LATITUDE,REGION,AREA,CELL_ID,SITE_CODE
0,ADJAME,In Service,ABIDJAN,"""Abidjan_EST",AGBANNEW,-4.000667,5.368194,LAGUNE,NaN,fbb2e75af3,0bb492ef17
1,ADJAME,In Service,ABIDJAN,"""Abidjan_EST",AGBANNEW,-4.000667,5.368194,LAGUNE,NaN,1502501d78,0bb492ef17
2,ADJAME,In Service,ABIDJAN,"""Abidjan_EST",AGBANNEW,-4.000667,5.368194,LAGUNE,NaN,0c2e182a0c,0bb492ef17
3,ASSINIE,In Service,INTERIEUR,Grand-EST,"ASSINIE""",-3.488467,5.158761,SUD COMOE,NaN,69bdfc69fd,8a1e6ce31f
4,ASSINIE,In Service,INTERIEUR,Grand-EST,"ASSINIE""",-3.488467,5.158761,SUD COMOE,NaN,7a1029d2ab,8a1e6ce31f

LET'S CLEAN OUR DATA

In [60]:
# We have to rename our Dataset1 and Dataset3 to fit with the Dataset2

# Renaming of Dataset1

df1 = pd.read_csv('Telcom_dataset.csv')
df1.rename(columns={'PRODUTC' :'PRODUCT' , 'DW_A_NUMBER_INT': 'DW_A_NUMBER', 'DW_B_NUMBER_INT': 'DW_B_NUMBER','DATETIME' : 'DATE_TIME'}, inplace=True)


df1.head(5)

,PRODUCT,VALUE,DATE_TIME,CELL_ON_SITE,DW_A_NUMBER,DW_B_NUMBER,COUNTRY_A,COUNTRY_B,CELL_ID,SITE_ID
0,Voice,0,2012-05-06 23:04:37.0,1,49fae048b547780,1a49f8b0ded9de6,19e2e,19e2e,/TJNe+Mmtu,/TJNe+Mmtu
1,sms,0,2012-05-06 23:05:25.0,0,7a54a6eaee19e65,93343ba6e41af95,19e2e,19e2e,/+cKZKIp41,/+cKZKIp41
2,sms,25,2012-05-06 23:05:41.0,0,6008887b0207d82,7aacc9709ce0a20,19e2e,19e2e,/u0FSD+ahi,/u0FSD+ahi
3,Voice,56,2012-05-06 23:05:42.0,1,7370032e20f4e96,6af4a60e74c91d3,19e2e,19e2e,+cNeJzsTp3,+cNeJzsTp3
4,Voice,14,2012-05-06 23:06:29.0,1,966ba4656e38e62,02aa736ee555d5c,19e2e,19e2e,051KhYDCpv,051KhYDCpv

In [61]:
# Renaming of Dataset3

df3 = pd.read_csv('Telcom_dataset3.csv')
df3.rename(columns={'DW_A_NUMBER_INT': 'DW_A_NUMBER', 'DW_B_NUMBER_INT': 'DW_B_NUMBER','CELLID' : 'CELL_ID' , 'SIET_ID' : 'SITE_ID'}, inplace=True)

df3.head(5)

,PRODUCT,VALUE,DATE_TIME,CELL_ON_SITE,DW_A_NUMBER,DW_B_NUMBER,COUNTRY_A,COUNTRY_B,CELL_ID,SITE_ID
0,Voice,61,2012-05-08 23:01:28.0,2,966f68353622feb,ffd53a3bb2db6f1,19e2e,19e2e,+38u2u/rfx,+38u2u/rfx
1,sms,0,2012-05-08 23:01:31.0,1,a0a597384c612d7,cf3b218f1dde792,19e2e,19e2e,+Fs4mTvdKx,+Fs4mTvdKx
2,Voice,10,2012-05-08 23:02:59.0,1,5441a9a58c97132,52f8b299515b9b7,19e2e,19e2e,+ZaaZozy/+,+ZaaZozy/+
3,sms,0,2012-05-08 23:03:04.0,0,8ab8b9ed6989f61,e09e736e46c5c3d,19e2e,19e2e,+cNeJzsTp3,+cNeJzsTp3
4,Voice,22,2012-05-08 23:03:16.0,4,52662a62b199334,2186273faab4602,19e2e,19e2e,/eeMklgyJA,/eeMklgyJA

CONCATENATING OF THREE DATASETS

In [62]:
# combining the three datasets using concatenation

df4 = pd.concat([df1 ,df2,df3])

df4

,PRODUCT,VALUE,DATE_TIME,CELL_ON_SITE,DW_A_NUMBER,DW_B_NUMBER,COUNTRY_A,COUNTRY_B,CELL_ID,SITE_ID
0,Voice,0,2012-05-06 23:04:37.0,1,49fae048b547780,1a49f8b0ded9de6,19e2e,19e2e,/TJNe+Mmtu,/TJNe+Mmtu
1,sms,0,2012-05-06 23:05:25.0,0,7a54a6eaee19e65,93343ba6e41af95,19e2e,19e2e,/+cKZKIp41,/+cKZKIp41
2,sms,25,2012-05-06 23:05:41.0,0,6008887b0207d82,7aacc9709ce0a20,19e2e,19e2e,/u0FSD+ahi,/u0FSD+ahi
3,Voice,56,2012-05-06 23:05:42.0,1,7370032e20f4e96,6af4a60e74c91d3,19e2e,19e2e,+cNeJzsTp3,+cNeJzsTp3
4,Voice,14,2012-05-06 23:06:29.0,1,966ba4656e38e62,02aa736ee555d5c,19e2e,19e2e,051KhYDCpv,051KhYDCpv
...,...,...,...,...,...,...,...,...,...,...
4996,Voice,0,2012-05-09 00:01:43.0,3,467333ade2b4b9c,0ab2acd804d01fe,19e2e,19e2e,2aa04dcab7,f7d63a29e5
4997,Voice,62,2012-05-09 00:01:43.0,1,e077a6b74c5053c,4c8098eb6ea1a41,19e2e,19e2e,7f1f2f889f,b4ddb9e93c
4998,Voice,32,2012-05-09 00:01:43.0,1,77f53c39d27c050,9d064f013e2cab2,19e2e,19e2e,a4731e780e,d68260ef50
4999,Voice,30,2012-05-09 00:01:43.0,2,672ce74c418aa7a,f9ff5af59cf0d68,19e2e,19e2e,98ed726da2,b4130b54ab
5000,Voice,60,2012-05-09 00:01:43.0,2,6edeb4c55714650,7e60838216482a7,19e2e,19e2e,1c11a2fcbb,6d70dae094

DROPPING USELESS COLUMNS

In [63]:
# Dropping unsuable columns 

df4 = df4.drop(['COUNTRY_A',"COUNTRY_B",'CELL_ON_SITE'] , axis = 1)

df4.head()

,PRODUCT,VALUE,DATE_TIME,DW_A_NUMBER,DW_B_NUMBER,CELL_ID,SITE_ID
0,Voice,0,2012-05-06 23:04:37.0,49fae048b547780,1a49f8b0ded9de6,/TJNe+Mmtu,/TJNe+Mmtu
1,sms,0,2012-05-06 23:05:25.0,7a54a6eaee19e65,93343ba6e41af95,/+cKZKIp41,/+cKZKIp41
2,sms,25,2012-05-06 23:05:41.0,6008887b0207d82,7aacc9709ce0a20,/u0FSD+ahi,/u0FSD+ahi
3,Voice,56,2012-05-06 23:05:42.0,7370032e20f4e96,6af4a60e74c91d3,+cNeJzsTp3,+cNeJzsTp3
4,Voice,14,2012-05-06 23:06:29.0,966ba4656e38e62,02aa736ee555d5c,051KhYDCpv,051KhYDCpv

MERGING OUR TELECOM_DATASET 1, 2, AND 3 WITH CELLS_GEO

In [149]:
# Merging our Telecom dataset with cell_geo

# df4 is a concatenation of df1, df2, and df3
# df5 is for cell_geo

df_all = df4.merge(df5 , left_index=True , right_index=True)
df_all.head()

,PRODUCT,VALUE,DATE_TIME,DW_A_NUMBER,DW_B_NUMBER,CELL_ID_x,SITE_ID,VILLES,STATUS,LOCALISATION,DECOUPZONE,ZONENAME,LONGITUDE,LATITUDE,REGION,AREA,CELL_ID_y,SITE_CODE
0,Voice,0,2012-05-06 23:04:37.0,49fae048b547780,1a49f8b0ded9de6,/TJNe+Mmtu,/TJNe+Mmtu,ADJAME,In Service,ABIDJAN,"""Abidjan_EST",AGBANNEW,-4.000667,5.368194,LAGUNE,NaN,fbb2e75af3,0bb492ef17
0,sms,0,2012-05-07 23:02:06.0,32255675c3b6fe3,1aa7ae01386e9fb,+854AcBQT2,+854AcBQT2,ADJAME,In Service,ABIDJAN,"""Abidjan_EST",AGBANNEW,-4.000667,5.368194,LAGUNE,NaN,fbb2e75af3,0bb492ef17
0,Voice,61,2012-05-08 23:01:28.0,966f68353622feb,ffd53a3bb2db6f1,+38u2u/rfx,+38u2u/rfx,ADJAME,In Service,ABIDJAN,"""Abidjan_EST",AGBANNEW,-4.000667,5.368194,LAGUNE,NaN,fbb2e75af3,0bb492ef17
1,sms,0,2012-05-06 23:05:25.0,7a54a6eaee19e65,93343ba6e41af95,/+cKZKIp41,/+cKZKIp41,ADJAME,In Service,ABIDJAN,"""Abidjan_EST",AGBANNEW,-4.000667,5.368194,LAGUNE,NaN,1502501d78,0bb492ef17
1,Voice,0,2012-05-07 23:03:44.0,ff16d6ac74c1c64,87d87309c15a8c9,+854AcBQT2,+854AcBQT2,ADJAME,In Service,ABIDJAN,"""Abidjan_EST",AGBANNEW,-4.000667,5.368194,LAGUNE,NaN,1502501d78,0bb492ef17

In [150]:
# Let's separate our date_time in date and time
# For that we use no name function (lambda)

df1 = df_all['DATE_TIME'].apply(lambda y: pd.Series([i for i in reversed(y.lower().split(' '))]))
df1.columns = ['TIME', 'DATE']
df1
df6 = df1.merge(df_all, left_index=True, right_index=True)
df6

#droping DATE_TIME column
df7 = df6.drop('DATE_TIME', axis=1)
df7.head()

df7.head()

,TIME,DATE,PRODUCT,VALUE,DW_A_NUMBER,DW_B_NUMBER,CELL_ID_x,SITE_ID,VILLES,STATUS,LOCALISATION,DECOUPZONE,ZONENAME,LONGITUDE,LATITUDE,REGION,AREA,CELL_ID_y,SITE_CODE
0,23:04:37.0,2012-05-06,Voice,0,49fae048b547780,1a49f8b0ded9de6,/TJNe+Mmtu,/TJNe+Mmtu,ADJAME,In Service,ABIDJAN,"""Abidjan_EST",AGBANNEW,-4.000667,5.368194,LAGUNE,NaN,fbb2e75af3,0bb492ef17
0,23:04:37.0,2012-05-06,sms,0,32255675c3b6fe3,1aa7ae01386e9fb,+854AcBQT2,+854AcBQT2,ADJAME,In Service,ABIDJAN,"""Abidjan_EST",AGBANNEW,-4.000667,5.368194,LAGUNE,NaN,fbb2e75af3,0bb492ef17
0,23:04:37.0,2012-05-06,Voice,61,966f68353622feb,ffd53a3bb2db6f1,+38u2u/rfx,+38u2u/rfx,ADJAME,In Service,ABIDJAN,"""Abidjan_EST",AGBANNEW,-4.000667,5.368194,LAGUNE,NaN,fbb2e75af3,0bb492ef17
0,23:02:06.0,2012-05-07,Voice,0,49fae048b547780,1a49f8b0ded9de6,/TJNe+Mmtu,/TJNe+Mmtu,ADJAME,In Service,ABIDJAN,"""Abidjan_EST",AGBANNEW,-4.000667,5.368194,LAGUNE,NaN,fbb2e75af3,0bb492ef17
0,23:02:06.0,2012-05-07,sms,0,32255675c3b6fe3,1aa7ae01386e9fb,+854AcBQT2,+854AcBQT2,ADJAME,In Service,ABIDJAN,"""Abidjan_EST",AGBANNEW,-4.000667,5.368194,LAGUNE,NaN,fbb2e75af3,0bb492ef17

REMOVING THE NULL VALUE IN ROWS

In [151]:
# removing the rows that contains NULL values

df_all = df_all.dropna()
df_all.head(5)

,PRODUCT,VALUE,DATE_TIME,DW_A_NUMBER,DW_B_NUMBER,CELL_ID_x,SITE_ID,VILLES,STATUS,LOCALISATION,DECOUPZONE,ZONENAME,LONGITUDE,LATITUDE,REGION,AREA,CELL_ID_y,SITE_CODE
23,data,0,2012-05-06 23:11:27.0,795c2a90bd8d442,5a4dc9e82deb309,2yuhUrSXQu,2yuhUrSXQu,ABOBO,In Service,ABIDJAN,Abidjan_NORD,ZONE E - Abidjan_NORD,-4.014139,5.4335,LAGUNE,ABIDJAN NORTH,f740406877,0f34c36ac5
23,sms,0,2012-05-07 23:09:50.0,8da7870ee027a39,43856ca73fbadf3,+854AcBQT2,+854AcBQT2,ABOBO,In Service,ABIDJAN,Abidjan_NORD,ZONE E - Abidjan_NORD,-4.014139,5.4335,LAGUNE,ABIDJAN NORTH,f740406877,0f34c36ac5
23,sms,25,2012-05-08 23:09:48.0,711a413770e5028,fc1e25118646138,2q0YsSCxbH,2q0YsSCxbH,ABOBO,In Service,ABIDJAN,Abidjan_NORD,ZONE E - Abidjan_NORD,-4.014139,5.4335,LAGUNE,ABIDJAN NORTH,f740406877,0f34c36ac5
24,Voice,0,2012-05-06 23:11:27.0,1a2b54695968d46,55ad144fa74fddc,3mQAiRAfo7,3mQAiRAfo7,ABOBO,In Service,ABIDJAN,Abidjan_NORD,ZONE E - Abidjan_NORD,-4.014139,5.4335,LAGUNE,ABIDJAN NORTH,959e54c8f7,0f34c36ac5
24,sms,0,2012-05-07 23:09:56.0,0108b4b998a2041,8051dc22ab2d575,+e+xcimwre,+e+xcimwre,ABOBO,In Service,ABIDJAN,Abidjan_NORD,ZONE E - Abidjan_NORD,-4.014139,5.4335,LAGUNE,ABIDJAN NORTH,959e54c8f7,0f34c36ac5

REMOVING THE THE DUPLICATE DATA IN OUR DATASETS

In [152]:
# Let's take off identical data

df_all = df_all.drop_duplicates()
df_all.head()

,PRODUCT,VALUE,DATE_TIME,DW_A_NUMBER,DW_B_NUMBER,CELL_ID_x,SITE_ID,VILLES,STATUS,LOCALISATION,DECOUPZONE,ZONENAME,LONGITUDE,LATITUDE,REGION,AREA,CELL_ID_y,SITE_CODE
23,data,0,2012-05-06 23:11:27.0,795c2a90bd8d442,5a4dc9e82deb309,2yuhUrSXQu,2yuhUrSXQu,ABOBO,In Service,ABIDJAN,Abidjan_NORD,ZONE E - Abidjan_NORD,-4.014139,5.4335,LAGUNE,ABIDJAN NORTH,f740406877,0f34c36ac5
23,sms,0,2012-05-07 23:09:50.0,8da7870ee027a39,43856ca73fbadf3,+854AcBQT2,+854AcBQT2,ABOBO,In Service,ABIDJAN,Abidjan_NORD,ZONE E - Abidjan_NORD,-4.014139,5.4335,LAGUNE,ABIDJAN NORTH,f740406877,0f34c36ac5
23,sms,25,2012-05-08 23:09:48.0,711a413770e5028,fc1e25118646138,2q0YsSCxbH,2q0YsSCxbH,ABOBO,In Service,ABIDJAN,Abidjan_NORD,ZONE E - Abidjan_NORD,-4.014139,5.4335,LAGUNE,ABIDJAN NORTH,f740406877,0f34c36ac5
24,Voice,0,2012-05-06 23:11:27.0,1a2b54695968d46,55ad144fa74fddc,3mQAiRAfo7,3mQAiRAfo7,ABOBO,In Service,ABIDJAN,Abidjan_NORD,ZONE E - Abidjan_NORD,-4.014139,5.4335,LAGUNE,ABIDJAN NORTH,959e54c8f7,0f34c36ac5
24,sms,0,2012-05-07 23:09:56.0,0108b4b998a2041,8051dc22ab2d575,+e+xcimwre,+e+xcimwre,ABOBO,In Service,ABIDJAN,Abidjan_NORD,ZONE E - Abidjan_NORD,-4.014139,5.4335,LAGUNE,ABIDJAN NORTH,959e54c8f7,0f34c36ac5

ANALYSE DATA

Description of Data

In [153]:
# Let's summarize the central tendency, dispersion and shape of a dataset’s distribution

df_all['VALUE'].describe()

count    10122.000000
mean        27.532899
std        116.616535
min          0.000000
25%          0.000000
50%          0.000000
75%         25.000000
max       6750.000000
Name: VALUE, dtype: float64

Cumulative Sum

In [154]:
# Let's return the series of the same size containing the cumulative sum.

df_all['VALUE'].cumsum()

23           0
23           0
23          25
24          25
24          25
         ...
3972    278623
3972    278648
3973    278688
3973    278688
3973    278688
Name: VALUE, Length: 10122, dtype: int64

PivotTable

In [155]:
# Let's summarize one or more numeric variable based on two other categorical variables

pd.pivot_table(df_all,values = ['VALUE'], index = ['VILLES', 'PRODUCT'],aggfunc='describe')

                    VALUE                                             \
                      25%   50%    75%  count    max       mean  min
VILLES      PRODUCT
ABENGOUROU  Voice     0.0  14.0  48.50   35.0  192.0  38.885714  0.0
            data      0.0   0.0   0.00   12.0    0.0   0.000000  0.0
            sms       0.0   0.0   0.00   16.0   50.0   4.687500  0.0
ABOBO       Voice     0.0  12.0  39.00  288.0  420.0  33.670139  0.0
            data      0.0   0.0   0.00   53.0  396.0   8.754717  0.0
...                   ...   ...    ...    ...    ...        ...  ...
ZON-HOUNIEN sms       0.0   0.0   0.00    4.0    0.0   0.000000  0.0
ZOUKOUGBEU  Voice     0.0   5.5  16.25    4.0   32.0  10.750000  0.0
            sms       0.0   0.0  37.50    3.0   75.0  25.000000  0.0
ZUENOULA    Voice     0.5  20.0  29.50   11.0   40.0  17.909091  0.0
            sms       0.0   0.0   6.25   12.0   25.0   6.250000  0.0


                           std
VILLES      PRODUCT
ABENGOUROU  Voice    54.843505
            data      0.000000
            sms      13.597641
ABOBO       Voice    61.088377
            data     54.531186
...                        ...
ZON-HOUNIEN sms       0.000000
ZOUKOUGBEU  Voice    15.085865
            sms      43.301270
ZUENOULA    Voice    15.280409
            sms      11.306675

[962 rows x 8 columns]

In [156]:
# Let's Summarize our villes and localisation

pivot = pd.pivot_table(df_all,values = ['VALUE'], index = ['VILLES' , "LOCALISATION"],aggfunc='sum')
pivot.sort_values('VALUE', ascending=False)

                           VALUE
VILLES       LOCALISATION
COCODY       ABIDJAN       38355
YOPOUGON     ABIDJAN       31343
ABOBO        ABIDJAN       12244
MARCORY      ABIDJAN       11265
TREICHVILLE  ABIDJAN       10799
...                          ...
ASSIKOI      INTERIEUR         0
ANIANSUE     INTERIEUR         0
ALERIA       ABIDJAN           0
GROBIASSOUME INTERIEUR         0
OUELLE       INTERIEUR         0

[500 rows x 1 columns]

In [157]:
# Let's summarize our localisation and Product

pd.pivot_table(df_all,values = ['VALUE'], index = ['LOCALISATION', "PRODUCT"],aggfunc='describe')

                     VALUE                                              \
                       25%   50%   75%   count     max       mean  min
LOCALISATION PRODUCT
ABIDJAN      Voice     0.0  20.0  54.0  1880.0  6750.0  61.355319  0.0
             data      0.0   0.0   0.0   147.0   396.0   3.374150  0.0
             sms       0.0   0.0   0.0  2336.0   100.0   6.899829  0.0
INTERIEUR    Voice     1.0  20.0  53.0  2403.0  2330.0  49.122763  0.0
             data      0.0   0.0   0.0   111.0   748.0  11.837838  0.0
             sms       0.0   0.0  25.0  3245.0   100.0   8.434515  0.0


                             std
LOCALISATION PRODUCT
ABIDJAN      Voice    234.236680
             data      32.840046
             sms       13.760331
INTERIEUR    Voice    105.976438
             data      77.923219
             sms       15.089002

City where they spend more during business hours

In [158]:
# Which cities  used most expenditure  during business  hours?

df_time= df_all[(df_all['DATE_TIME'] > '08.00.00' ) & (df_all['DATE_TIME'] < '17.00.00')]
list(set(df_time['VILLES']))

group_city = df_time.groupby(['VILLES', 'PRODUCT'])['VALUE'].max()

group_city

Series([], Name: VALUE, dtype: int64)

City where they spend more during home hours

In [159]:
# Which cities they spend more during  home hours?

df_time1= df_all[ (df_all['DATE_TIME'] < '05.00.00') ]
df_time2 = df_all[(df_all['DATE_TIME'] > '17.00.00') ]

both = pd.concat([df_time1, df_time2])
group = both.groupby(['VILLES', 'PRODUCT'])['VALUE'].max()

group

VILLES       PRODUCT
ABENGOUROU   Voice      192
             data         0
             sms         50
ABOBO        Voice      420
             data       396
                       ...
ZON-HOUNIEN  sms          0
ZOUKOUGBEU   Voice       32
             sms         75
ZUENOULA     Voice       40
             sms         25
Name: VALUE, Length: 962, dtype: int64

Area where they spend more during home hours

In [162]:
# Which Area they spend during  home hours?

df_time1= df_all[ (df_all['DATE_TIME'] < '05.00.00') ]
df_time2 = df_all[(df_all['DATE_TIME'] > '17.00.00') ]
both = pd.concat([df_time1, df_time2])

group = both.groupby(['AREA'])['VILLES'].max()
group

AREA
ABIDJAN NORTH      YOPOUGON
ABIDJAN SOUTH          YAOU
CENTRE NORTH       ZUENOULA
EAST                ZARANOU
NORTH WEST       ZOUKOUGBEU
SOUTH WEST          ZIKISSO
Name: VILLES, dtype: object

Area where they spend the least during home hours

In [163]:
# Which Area they spend the  least use during  home hours?

df_time1= df_all[ (df_all['DATE_TIME'] < '05.00.00') ]
df_time2 = df_all[(df_all['DATE_TIME'] > '17.00.00') ]
both = pd.concat([df_time1, df_time2])

group = both.groupby(['AREA'])['VILLES'].min()
group

AREA
ABIDJAN NORTH         ABOBO
ABIDJAN SOUTH       ABOISSO
CENTRE NORTH         AGONDA
EAST             ABENGOUROU
NORTH WEST         BACOUBLY
SOUTH WEST           ADEBEM
Name: VILLES, dtype: object

Area where they spend the least during business hours

In [164]:
# Which cities were the least used during business  hours?

df_time= df_all[(df_all['DATE_TIME'] > '08.00.00' ) & (df_all['DATE_TIME'] < '17.00.00')]
list(set(df_time['VILLES']))
group_city = df_time.groupby(['VILLES'])['VALUE'].min()

group_city

Series([], Name: VALUE, dtype: int64)

The most used city in three days

In [165]:
# Most used city in the three days 

df_all['VILLES'].max()

'ZUENOULA'

The least used city in three days

In [166]:
#Least used city in three days 

df_all['VILLES'].min()

'ABENGOUROU'

Product that people spend a lot of money on

In [167]:
# What product that users spend more money on ?

groupy = df_all.groupby(['PRODUCT'])['VALUE'].sum()
groupy

PRODUCT
Voice    233390
data       1810
sms       43488
Name: VALUE, dtype: int64

The Max consumption of Data for each city

In [171]:
# Get range of how much data each city consumes

# The maximum

maximum_product_consumed = df_all.groupby(['PRODUCT', 'VILLES'])['VALUE'].max()
maximum_product_consumed

PRODUCT  VILLES
Voice    ABENGOUROU       192
         ABOBO            420
         ABOISSO          346
         ABOISSO COMOE      5
         ABONGOUA           0
                         ...
sms      ZATTA             25
         ZIKISSO           25
         ZON-HOUNIEN        0
         ZOUKOUGBEU        75
         ZUENOULA          25
Name: VALUE, Length: 962, dtype: int64

The Min consumption of Data for each city

In [170]:
# Get range of how much data each city consumes

# The Minimum

minimum_product_consumed = df_all.groupby(['PRODUCT', 'VILLES'])['VALUE'].min()
minimum_product_consumed

PRODUCT  VILLES
Voice    ABENGOUROU       0
         ABOBO            0
         ABOISSO          0
         ABOISSO COMOE    5
         ABONGOUA         0
                         ..
sms      ZATTA            0
         ZIKISSO          0
         ZON-HOUNIEN      0
         ZOUKOUGBEU       0
         ZUENOULA         0
Name: VALUE, Length: 962, dtype: int64

Spend for needs

In [172]:
# How do they spend to cater for their needs

df_all['VALUE'].describe()

count    10122.000000
mean        27.532899
std        116.616535
min          0.000000
25%          0.000000
50%          0.000000
75%         25.000000
max       6750.000000
Name: VALUE, dtype: float64

Most used zone

In [173]:
# Which Zone was the most used for the three days 

# The max zone

df_all['ZONENAME'].max()

'ZONE E - SUD-OUEST'

Least used zone

In [174]:
# Which zone was the least used for the three days 

# The min zone

df_all['ZONENAME'].min()

'ZONE A - Abidjan_CENTRE'